@import "./main.scss";


#explore{
    &__teasing span{
        font-size: 1.5em;
        font-family: robotobold;
        display: block;
        text-align: center;
        padding-top: 15px;
    }
}