<!doctype html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Ohmyfood - A la française</title>
	<meta name="description" content="personnalisez, commandez et gangnez du temps grâce à votre Restaurant A la française">
	<link rel="stylesheet" href="../assets/css/style.css">
	<script src="https://use.fontawesome.com/17f21b793c.js"></script>
	<script src="https://kit.fontawesome.com/717dc6ad61.js" crossorigin="anonymous"></script>
</head>

<body>
	<header>
		<a href="../index.html"><i class="fas fa-arrow-left fa-lg" aria-hidden="true"></i></a>
		<img src="https://raw.github.com/OlivierVermesse/OlivierVermesse_3_26022021/master/assets/img/logo/ohmyfood.svg" alt="logo"/>
	</header>

	<div class="picture_rest">
		<img src="../assets/img/restaurants/francaise.jpg" alt="rest_francaise" title="A la francaise"/>
	</div>
	<div class="name_tag">
		<div class="rest_infos--rest">
			<div>
				<h3><span>à</span> la française</h3>
			</div>
			<div class="tag_like">
				<i class="tag_like far fa-heart fa-2x"></i>
				<i class="tag_like fa fa-heart fa-2x" ></i>
			</div>
		</div>
	</div>		

	<section class="rest_block">
		<h2>Menu</h2>
	<div class="rest_block__meal">
		<div class="rest_block__title">
			Entrées
		</div>
		<div class="rest_block__barre">
		</div>
		<div class="rest_block__choices">
			<aside class="rest_block__select1">
				<div class="rest_block__infos">
					<div class="rest_block__desc">
						<span>Tartare de poulpe acidulé</span><br>Aux zestes d'orange
					</div>
					<div class="rest_block__price">
						25 €
					</div>
					<div class="rest_block__check">
						<i class="fas fa-check-circle "></i>
					</div>
				</div>	
			</aside>
			<aside class="rest_block__select2">
				<div class="rest_block__infos">
					<div class="rest_block__desc">
						<span>Velouté de légumes d'antan</span><br>Carotte, panais, topinambour
					</div>
					<div class="rest_block__price">
						35 €
					</div>
					<div class="rest_block__check">
						<i class="fas fa-check-circle"></i>
					</div>
				</div>	
			</aside>
			<aside class="rest_block__select3">
				<div class="rest_block__infos">
					<div class="rest_block__desc">			
						<span>Soupe à l'oignon</span><br>Revisitée
					</div>
					<div class="rest_block__price">
						20 €
					</div>
					<div class="rest_block__check">
						<i class="fas fa-check-circle"></i>
					</div>
				</div>	
			</aside>
		</div>
	</div>

	<div class="rest_block__meal">
		<div class="rest_block__title">
			Plats
		</div>
		<div class="rest_block__barre">
		</div>
		<div class="rest_block__choices">
			<aside class="rest_block__select1">
				<div class="rest_block__infos">
					<div class="rest_block__desc">
						<span>Coquilles Saint-Jacques</span><br>Accompagnées d'une purée de panais
					</div>
					<div class="rest_block__price">
						40 €
					</div>
					<div class="rest_block__check">
						<i class="fas fa-check-circle"></i>
					</div>
				</div>	
			</aside>
			<aside class="rest_block__select2">
				<div class="rest_block__infos">
					<div class="rest_block__desc">
						<span>Magret de canard</span><br>Et parmentier de pommes de terre
					</div>
					<div class="rest_block__price">
						35 €
					</div>
					<div class="rest_block__check">
						<i class="fas fa-check-circle"></i>
					</div>
				</div>	
			</aside>
			<aside class="rest_block__select3">
				<div class="rest_block__infos">
					<div class="rest_block__desc">			
						<span>Pigeonneau d’Ille-et-Vilaine</span><br>Sur son lit de gnocchis aux légumes
					</div>
					<div class="rest_block__price">
						44 €
					</div>
					<div class="rest_block__check">
						<i class="fas fa-check-circle"></i>
					</div>
				</div>	
			</aside>
		</div>
	</div>
				
	<div class="rest_block__meal">
		<div class="rest_block__title">
			Desserts
		</div>
		<div class="rest_block__barre">
		</div>
		<div class="rest_block__choices">
			<aside class="rest_block__select1">
				<div class="rest_block__infos">
					<div class="rest_block__desc">
						<span>Pétales de violettes glacés</span><br>Et purée de noisettes
					</div>
					<div class="rest_block__price">
						18 €
					</div>
					<div class="rest_block__check">
						<i class="fas fa-check-circle"></i>
					</div>
				</div>	
			</aside>
			<aside class="rest_block__select2">
				<div class="rest_block__infos">
					<div class="rest_block__desc">
						<span>Fondant au chocolat</span><br>Revisité
					</div>
					<div class="rest_block__price">
						22 €
					</div>
					<div class="rest_block__check">
						<i class="fas fa-check-circle"></i>
					</div>
				</div>	
			</aside>
			<aside class="rest_block__select3">
				<div class="rest_block__infos">
					<div class="rest_block__desc">			
						<span>Millefeuille croustillant</span><br>Myrtilles et pâte d’amande
					</div>
					<div class="rest_block__price">
						23 €
					</div>
					<div class="rest_block__check">
						<i class="fas fa-check-circle"></i>
					</div>
				</div>	
			</aside>
		</div>
	</div>
	</section>
	<div class="btn">
		Commander
	</div>
		
	<footer>
		<div class="footer">
			<div class="footer__logo">
				ohmyfood
			</div>

			<div class="footer__propose">
				<div class= "footer__propose--icon">
					<span><i class="fas fa-utensils"></i></span>
				</div>    			
				<p><a href="x.html" title= "proposer un restaurant" target="_blank" class="footer__propose--title"> Proposer un restaurant</a></p>   
			</div>

			<div class="footer__partner">
				<div class= "footer__partner--icon">
					<i class="fas fa-hands-helping"></i>
				</div>
				<p><a href="x.html" title= "devenir partenaire" target="_blank" class="footer__partner--title"> Devenir partenaire</a></p>
			</div>

			<div class="footer__mentions">
				<p><a href="x.html" title= "mentions legales" target="_blank" class="footer__mentions--title"> Mentions légales</a></p>
			</div>

			<div class="footer__contact">
				<p><a href="mailto:Olivier.vermesse74@gmail.com" title= "Contact" target="_blank" class="footer__contact--title"> Contact</a></p>
			</div>
		</div>
	</footer>
</body>
</html>