@keyframes slide {
  to {
    margin-left: 90%;
  }
}
@keyframes loss {
  0%, 80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes menu-anim {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes check-anim {
  0% {
    width: 100%;
  }
  100% {
    width: 77%;
  }
}
@font-face {
  font-family: "shrikhandregular";
  src: url("../font/shrikhand-regular-webfont.woff2") format("woff2"), url("../font/shrikhand-regular-webfont.woff") format("woff"), url("../font/Shrikhand-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotoregular";
  src: url("../font/roboto-regular-webfont.woff2") format("woff2"), url("../font/roboto-regular-webfont.woff") format("woff"), url("../font/Roboto-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotoblack";
  src: url("../font/roboto-black-webfont.woff2") format("woff2"), url("../font/roboto-black-webfont.woff") format("woff"), url("../font/Roboto-black.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotobold";
  src: url("../font/roboto-bold-webfont.woff2") format("woff2"), url("../font/roboto-bold-webfont.woff") format("woff"), url("../font/Roboto-bold.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
h1 {
  font-size: 1.5em;
  font-family: robotobold;
  display: block;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  font-family: robotobold;
  margin-top: 20px;
  margin-bottom: 20px;
}

h3 {
  font-family: shrikhandregular;
  font-size: 2em;
}

body {
  margin-left: auto;
  margin-right: auto;
  font-family: robotoregular;
}

header {
  text-align: center;
  margin: 20px 0 20px 0;
}

.fa-arrow-left {
  color: black;
  float: left;
  margin-left: calc( 20px / 2 );
  margin-top: 8px;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #4A4A4A;
  color: white;
  padding: 20px 0 20px 20px;
}
.footer__logo {
  color: white;
  font-family: shrikhandregular;
  font-size: 1.3em;
  padding-bottom: 20px;
}
.footer__propose, .footer__partner, .footer__mentions, .footer__contact {
  display: flex;
  align-items: center;
  height: auto;
}

.explore__search {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: robotoregular;
  height: 40px;
  width: 100%;
  background-color: #e3e3e3;
}
.explore input {
  font-family: robotoregular;
  background-color: #e3e3e3;
  border: none;
}
.explore input::placeholder {
  color: black;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: white;
}

.explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
}
.explore__search {
  background-color: #e3e3e3;
}
.explore__teasing {
  display: block;
  text-align: center;
  padding-bottom: 20px;
}

.fonctionnement {
  padding-left: 20px;
}
.fonctionnement__criteria {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin-bottom: 20px;
}
.fonctionnement__criteria__choice {
  display: flex;
  height: 50px;
  margin-right: 20px;
  align-items: center;
  font-family: robotobold;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 3px 3px #e3e3e3, -3px 0px #e3e3e3;
  background-color: #f0f0f0;
}
.fonctionnement__criteria__menu {
  display: flex;
  height: 50px;
  margin-right: 20px;
  align-items: center;
  font-family: robotobold;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 3px 3px #e3e3e3, -3px 0px #e3e3e3;
  background-color: #f0f0f0;
}
.fonctionnement__criteria__enjoy {
  display: flex;
  height: 50px;
  margin-right: 20px;
  align-items: center;
  font-family: robotobold;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 3px 3px #e3e3e3, -3px 0px #e3e3e3;
  background-color: #E3D2DE;
}

.restaurants {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-bottom: 20px;
  background-color: #f0f0f0;
}
.restaurants__palette {
  display: flex;
  flex-direction: column;
  height: 250px;
  margin: 0 20px 20px 0;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 3px 3px #e3e3e3, -3px 0px #e3e3e3;
}
.restaurants__enchantee {
  display: flex;
  flex-direction: column;
  height: 250px;
  margin: 0 20px 20px 0;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 3px 3px #e3e3e3, -3px 0px #e3e3e3;
}
.restaurants__francaise {
  display: flex;
  flex-direction: column;
  height: 250px;
  margin: 0 20px 20px 0;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 3px 3px #e3e3e3, -3px 0px #e3e3e3;
}
.restaurants__delice {
  display: flex;
  flex-direction: column;
  height: 250px;
  margin: 0 20px 20px 0;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 3px 3px #e3e3e3, -3px 0px #e3e3e3;
}

.spinner-block__bar {
  font-size: 20px;
  width: 250px;
  height: 25px;
  border: 3px solid #9356DC;
  margin-left: auto;
  margin-right: auto;
  border-radius: 7px;
  position: relative;
  background-color: white;
  opacity: 0;
  animation: 5s loss 1;
}
.spinner-block__bar :after {
  content: "Chargement en cours...";
  font-family: robotoclassic;
  background-color: white;
  width: 250px;
  height: 50px;
  position: absolute;
  left: 5%;
  top: 150%;
}
.spinner-block__bar__sphere {
  display: block;
  width: 24px;
  height: 100%;
  background: #FF79DA;
  border-radius: 50%;
  animation: slide 1.75s infinite ease-in-out alternate;
}

.explore__search--icon, .footer__propose--icon, .footer__partner--icon {
  margin-right: 20px;
}
.explore__search--icon span, .footer__propose--icon span, .footer__partner--icon span {
  margin-left: 3px;
  margin-right: 3px;
}

.fonctionnement__criteria__choice--icon, .fonctionnement__criteria__menu--icon, .fonctionnement__criteria__enjoy--icon {
  margin-left: 30px;
  margin-right: 20px;
}
.fonctionnement__criteria__choice--icon span, .fonctionnement__criteria__menu--icon span, .fonctionnement__criteria__enjoy--icon span {
  color: #9356DC;
}
.fonctionnement__criteria__choice--number, .fonctionnement__criteria__menu--number, .fonctionnement__criteria__enjoy--number {
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  width: 20px;
  text-align: center;
  padding: 5px;
  position: absolute;
  left: -15px;
}

.fa-check-circle {
  background-color: #99E2D0;
  margin: 16px 0 16px 0;
}

.btn {
  width: 200px;
  margin: 15px auto 15px auto;
  margin-top: calc( 20px / 2 );
  margin-bottom: 20px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border-radius: 30px 30px 30px 30px;
  border: none;
  text-align: center;
  line-height: 3;
}
.btn:hover {
  background: linear-gradient(#ff13be, #6023a9);
  cursor: pointer;
}

.tag_new {
  height: 30px;
  width: 80px;
  text-align: center;
  padding-top: 5px;
  background-color: #99E2D0;
  color: #1b6150;
  font-family: robotobold;
  position: absolute;
  top: 20px;
  right: 20px;
}

.cont__picture--home {
  width: 100%;
  height: 70%;
  position: relative;
}
.cont__picture--home img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 15px 15px 0 0;
}
.cont__picture--rest {
  width: 100%;
  height: 250px;
  position: relative;
}
.cont__picture--rest img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.rest_infos--home {
  display: flex;
  padding: 10px 0 20px 20px;
  justify-content: space-between;
  background-color: white;
  border-radius: 0 0 15px 15px;
}
.rest_infos--home span {
  font-family: robotobold;
  color: black;
}
.rest_infos--rest {
  display: flex;
  padding: calc( 20px / 2 ) 0 calc( 20px / 2 ) 20px;
  justify-content: space-between;
  background-color: #f0f0f0;
  border-radius: 15px 15px 0 0;
}

.tag_like {
  align-self: center;
  padding-right: 20px;
  position: relative;
  display: flex;
  cursor: pointer;
}

.fa {
  transition-duration: 0.25s;
  position: absolute;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
  opacity: 0;
}
.fa:hover {
  opacity: 1;
}

.rest_block {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
}
.rest_block__rest_menu {
  position: relative;
  top: -50px;
  margin-bottom: -50px;
  border-radius: 15px 15px 0 0;
}
.rest_block__rest_menu__title {
  border-radius: 15px 15px 0 0;
}
.rest_block__rest_menu__meal__title {
  text-transform: uppercase;
  padding-left: 20px;
}
.rest_block__rest_menu__meal__title__barre {
  height: 3px;
  background-color: #99E2D0;
  width: 10%;
  margin-left: 20px;
  margin-top: 10px;
}
.rest_block__rest_menu__meal__choices {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
  margin: 0 20px 0 20px;
  border-radius: 15px 15px 15px 15px;
  overflow: hidden;
}
.rest_block__rest_menu__meal__choices__1 {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 3px 3px #e3e3e3, -3px 0px #e3e3e3;
  padding: 10px 0 10px 10px;
  animation: menu-anim 0.5s;
  animation-timing-function: cubic-bezier(0, 0.02, 0.54, 0.53);
  animation-fill-mode: both;
  transform: scale(0);
  animation-delay: 0.3333333333s;
}
.rest_block__rest_menu__meal__choices__1__infos {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
}
.rest_block__rest_menu__meal__choices__1__infos:hover {
  animation: check-anim 0.5s ease-out forwards;
}
.rest_block__rest_menu__meal__choices__1__infos:hover + .fa-check-circle {
  color: red;
}
.rest_block__rest_menu__meal__choices__1__infos span {
  font-weight: bold;
}
.rest_block__rest_menu__meal__choices__1__infos__desc {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.rest_block__rest_menu__meal__choices__1__infos__price {
  font-weight: bold;
  width: auto;
  white-space: nowrap;
  align-self: flex-end;
  padding-right: 20px;
}
.rest_block__rest_menu__meal__choices__1__check {
  border-radius: 0 15px 15px 0;
  margin-top: -11px;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 66px;
  position: absolute;
  right: -30%;
}
.rest_block__rest_menu__meal__choices__2 {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 3px 3px #e3e3e3, -3px 0px #e3e3e3;
  padding: 10px 0 10px 10px;
  animation: menu-anim 0.5s;
  animation-timing-function: cubic-bezier(0, 0.02, 0.54, 0.53);
  animation-fill-mode: both;
  transform: scale(0);
  animation-delay: 0.6666666667s;
}
.rest_block__rest_menu__meal__choices__2__infos {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
}
.rest_block__rest_menu__meal__choices__2__infos:hover {
  animation: check-anim 0.5s ease-out forwards;
}
.rest_block__rest_menu__meal__choices__2__infos:hover + .fa-check-circle {
  color: red;
}
.rest_block__rest_menu__meal__choices__2__infos span {
  font-weight: bold;
}
.rest_block__rest_menu__meal__choices__2__infos__desc {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.rest_block__rest_menu__meal__choices__2__infos__price {
  font-weight: bold;
  width: auto;
  white-space: nowrap;
  align-self: flex-end;
  padding-right: 20px;
}
.rest_block__rest_menu__meal__choices__2__check {
  border-radius: 0 15px 15px 0;
  margin-top: -11px;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 66px;
  position: absolute;
  right: -30%;
}
.rest_block__rest_menu__meal__choices__3 {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 3px 3px #e3e3e3, -3px 0px #e3e3e3;
  padding: 10px 0 10px 10px;
  animation: menu-anim 0.5s;
  animation-timing-function: cubic-bezier(0, 0.02, 0.54, 0.53);
  animation-fill-mode: both;
  transform: scale(0);
  animation-delay: 1s;
}
.rest_block__rest_menu__meal__choices__3__infos {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
}
.rest_block__rest_menu__meal__choices__3__infos:hover {
  animation: check-anim 0.5s ease-out forwards;
}
.rest_block__rest_menu__meal__choices__3__infos:hover + .fa-check-circle {
  color: red;
}
.rest_block__rest_menu__meal__choices__3__infos span {
  font-weight: bold;
}
.rest_block__rest_menu__meal__choices__3__infos__desc {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.rest_block__rest_menu__meal__choices__3__infos__price {
  font-weight: bold;
  width: auto;
  white-space: nowrap;
  align-self: flex-end;
  padding-right: 20px;
}
.rest_block__rest_menu__meal__choices__3__check {
  border-radius: 0 15px 15px 0;
  margin-top: -11px;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 66px;
  position: absolute;
  right: -30%;
}

/*# sourceMappingURL=style.css.map */
