.explore__search,.footer__propose, .footer__partner{
    &--icon{
        margin-right: $padding-margin-prim;
        span{
            margin-left: 3px;
            margin-right: 3px
        }
    }
}

.fonctionnement__choice, .fonctionnement__menu, .fonctionnement__enjoy{
    &--icon{
        margin-left: 30px;
        margin-right: 20px;
        span{
            color: $color-prim;
        }
    }
    &--number{
        background-color: $color-prim;
        color: $color-font;
        border-radius: 50%;
        width: 20px;
        text-align: center;
        padding: 5px;
        position: absolute;
        left: -15px;
    }
}

.fa-check-circle{
    color: $color-font;
    background-color: $color-ter;
    margin: 16px 0 16px 0;

    
}