.cont_picture{
    &--home{
        width: 100%;
        height: 70%;
        position: relative;
        img{
            @include img;
            border-radius: $radius-corner-top;
        }
    }
    &--rest{
        width: 100%;
        height: 250px;
        position: relative;
        img{
            @include img;
        }
    }
    
}


