.fonctionnement{
    padding-left: $padding-margin-prim;
    &__criteria{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: $padding-margin-prim;
    @include laptop{
        flex-direction: row;
        justify-content: space-around;
        height: 100px;
        margin-bottom: 0;
    }    
        &__choice{
            position:relative;
            @include fct_choice;
            @include box-shadow;
            background-color: $color-bg_mid;
        }
        &__menu{
            position:relative;
            @include fct_choice;
            @include box-shadow;
            background-color: $color-bg_mid;
        }
        &__enjoy{
            position:relative;
            @include fct_choice;
            @include box-shadow;
            background-color: $color-select;
        }
    }
}
