.footer{
        display: flex;
        flex-direction: column;
        background-color: $color-bg;
        color:$color-font;
        padding: $padding-margin-prim 0 $padding-margin-prim $padding-margin-prim;
        @include laptop{
            flex-direction: row;
            justify-content: space-around;
        }    
    
        &__logo{
        color: $color-font;
        font-family: shrikhandregular;
        font-size: 1.3em;
        padding-bottom: $padding-margin-prim;
        @include laptop{
            padding-top:$padding-margin-prim;
        }   
    }
    &__propose, &__partner, &__mentions, &__contact{
        display: flex;
        align-items: center;
        height: auto;
    }
}