header{
   // background-image: url("../../public/img/logo/ohmyfood.png");
   text-align: center;
   margin: $padding-margin-prim 0 $padding-margin-prim 0;
   }

.fa-arrow-left{
   color: black;
   float: left;
   margin-left: $padding-margin-sec;
   margin-top: 8px;
}


