#explore{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-bg_mid;
    &__search{
        background-color: $color-bg_light;
    }
    h2{
        font-size: 1.5em;
        font-family: robotobold;
        display: block;
        text-align: center;
    }
    &__teasing{
        display: block;
        text-align: center;
        padding-bottom: 15px;
    }
}