#fonctionnement{
    padding-left: 20px;
    &__criteria{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position:relative;
    margin-bottom: 20px;    
        &__choice{
            @include fct_choice;
            @include box-shadow;
            background-color: $color-bg_light;
        }
        &__menu{
            @include fct_choice;
            @include box-shadow;
            background-color: $color-bg_light;
        }
        &__enjoy{
            @include fct_choice;
            @include box-shadow;
            background-color: $color-select;
        }
    }
}
