.footer{
        display: flex;
        flex-direction: column;
        background-color: $color-bg;
        color:$color-bg_font;
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    
        &__logo{
        color: $color-bg_font;
        font-family: shrikhandregular;
        font-size: 1.3em;
        padding-bottom: 20px;
    }
    &__propose, &__partner, &__mentions, &__contact{
        display: flex;
        align-items: center;
        height: auto;
    }
}