.btn{
    height: 30px;
    width: 200px;
    margin-top: 15px;
    margin-bottom: 30px;
    background-color: $color-sec;
    color: $color-bg_font;
    border-radius: $border-radius;
    border:none;
    }

