.btn{
    width: 200px;
    margin: 15px auto 15px auto;
    margin-top: $padding-margin-sec;
    margin-bottom: $padding-margin-prim;
    background: linear-gradient($color-sec, $color-prim);
    color: $color-font;
    border-radius: $radius-round;
    border:none;
    text-align: center;
    line-height: 3;
    &:hover{
        background: linear-gradient($color-sec-dark, $color-prim-dark);
    }}

.tag_new{
    height: 30px;
    width: 80px;
    text-align: center;
    padding-top: 5px;
    background-color: $color-ter;
    color: $color-ter-dark;
    font-family: robotobold;
    position: absolute;
    top: 20px;
    right: 20px;
}