.rest_infos{
    &--home{
        display: flex;
        padding: 10px 0 $padding-margin-prim $padding-margin-prim;
        justify-content: space-between;
        background-color: $color-font;
        border-radius: $radius-corner-bottom;
        
        span{
            font-family: robotobold;
            color: black;
            span{
                text-transform: capitalize;
            }
            }
        }
    &--rest{
        display: flex;
        padding: $padding-margin-sec  0 $padding-margin-sec $padding-margin-prim;
        justify-content: space-between;
        background-color: $color-bg_mid;;
        border-radius: $radius-corner-top;
        }
    }