.tag_like{
    align-self: center;
    padding-right: 20px;
    position: relative;
    display: flex;
    }
    
.fa {//like avec BG
    transition-duration: .25s;
    position: absolute;
    color: $color-prim;
    z-index: 1;
    opacity: 0;
    &:hover {
    opacity: 1;
    }
}
   