//spinner
@keyframes slide{
	to { margin-left: 90%; }
}

@keyframes loss {
	0%, 80%
		{opacity:1;
	}
	100%
		{opacity:0;
	}
}

//menus view
@keyframes menu{
	0% {
		transform: translateY(20px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}