@mixin box-shadow{
    box-shadow: 3px 3px $color-bg_light, -3px 0px $color-bg_light;
    }

@mixin fct_choice{
    display: flex;
    height: 50px;
    margin-right: $padding-margin-prim;
    align-items: center;
    font-family: robotobold;
    border-radius: $radius-corner;
    }

@mixin rest_list{
    display: flex;
    flex-direction: column;
    height: 250px;
    margin: 0 $padding-margin-prim $padding-margin-prim 0;
    border-radius: $radius-corner;
    }

@mixin img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    }

@mixin menu_list{
    display: flex;
    justify-content: space-between;
    background-color: $color-font;
    border-radius: $radius-corner;
    @include box-shadow;
    padding: 10px;
    
    & span{
        font-weight: bold;
        }
    &--price{
        font-weight: bold;
        align-self: flex-end;
        }
    }