@mixin box-shadow{
    box-shadow: 3px 3px $color-bg_mid, -3px 0px $color-bg_mid;
    }

@mixin fct_choice{
    display: flex;
    height: 50px;
    margin-right: 20px;
    align-items: center;
    font-family: robotobold;
    border-radius: $radius-corner;
    }


