$color-prim: #9356DC;
$color-sec:#FF79DA;
$color-ter: #99E2D0;

$color-select: #E3D2DE;

$color-bg: #4A4A4A;
$color-bg_dark: darken($color-bg,10%);
$color-bg_mid: lighten($color-bg, 65%);
$color-bg_light: lighten($color-bg, 60%);
$color-bg_font:white;

$radius-round: 30px 30px 30px 30px;
$radius-corner: 15px 15px 15px 15px;